PORT=3000
DB_USER='egbasto'
DB_PASSWORD='M1contr42024**'
DB_HOST='PPSQL100.dns-servicio.com'
DB_NAME='10484624_horeb'
DB_PORT='5432'


PORT=3000
DB_USER='Admin'
DB_PASSWORD='admin123'
DB_HOST='localhost'
DB_NAME='Horeb'
DB_PORT='5432'
