PORT=3000
DB_USER='AdminHoreb'
DB_PASSWORD='H0r3b2026**'
DB_HOST='PPSQL100.dns-servicio.com'
DB_NAME='10484624_horeb'
DB_PORT='5432'


PORT=3000
DB_USER='Admin'
DB_PASSWORD='admin123'
DB_HOST='localhost'
DB_NAME='Horeb'
DB_PORT='5432'


-- Instalación BD,PGADMIN y BACKEND en DOCKER
Ubicarnos en la carpeta raíz del proyecto y ejecutar el siguiente comando:
docker compose up --build -d

Cuando genere cambios en el backend para reconstuir la imagen
docker compose up -d --build backend
